h1 {
    text-align: left;

}

body {
    background-color: #eeeee4;
    margin-top : 50px;
    margin-left: 50px;
    font-family:Verdana, Tahoma, sans-serif;
}

h2 {
    margin-bottom: 0.7%;
}

h4 {
    margin-top: 0;
    vertical-align: top;
    color:rgb(121, 121, 121);
}

.profile {
    display: block;
    width: 194.78px;
    height: 228.86px;
    float: left;
    display: block;
}

ul {
    list-style-type: square;
}

.status {
    font-weight: bold;
    margin-left: auto;
}

li {
    line-height: 33px;
}

.checkmark {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.sidebar {
    width: 655px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgb(221, 221, 221);
    overflow-y: auto;
}

.sidebarText {
    margin-top: 50px;
    text-align:center;
}

.list {
    margin-left: 60px;
}

.bold {
    font-weight: bold;
}

.uofa {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    width: 500px;
}